@import '/src/assets/styles/styles.scss';

#scroll-staycations {
	white-space: nowrap;
	margin-right: 34px;
	width: 100%;
	margin-bottom: 42px;
	position: relative;
	display: flex;
	align-items: center;

	.btn-next {
		position: absolute;
		right: 8px;
		width: 30px;
		height: 30px;
		border: 1px solid $ultralight-gray;
		box-shadow: 0px 4px 10px $ultralight-gray;
	}

	.btn-prev {
		position: absolute;
		left: 8px;
		width: 30px;
		height: 30px;
		border: 1px solid $ultralight-gray;
		box-shadow: 0px 4px 10px $ultralight-gray;
	}

	.scroll {
		scroll-behavior: smooth;
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow-x: scroll;
		&::-webkit-scrollbar {
			height: 0px;
		}
		.items {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-right: 34px;
			figure {
				width: 117px;
				height: 111px;
				background-color: $gray;
				border-radius: 8px;
				margin-right: 24px;
			}
			.info {
				display: flex;
				flex-direction: column;
			}
			.rate {
				margin-top: 10px;
			}
			.info-tittle {
				white-space: nowrap;
				width: 173px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
