@import '/src/assets/styles/styles.scss';

.time-picker {
	background-color: $white;
	box-shadow: 0px 2px 6px rgba(33, 33, 33, 0.1);
	padding: 10px 20px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	input {
		border: none;
		padding: 0;
		display: block;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input:focus {
		outline: none;
	}

	&.small {
		* {
			font-size: 0.75rem;
		}
	}

	&.medium {
		* {
			font-size: 1rem;
		}
	}

	&.large {
		* {
			font-size: 1.5rem;
		}
	}
	.buttons_plus {
		display: flex;
	}

	.items {
		display: grid;
		grid-template-columns: auto auto auto;
		column-gap: 20px;
		.btn {
			font-size: 2rem;
		}
		.time {
			font-size: 2rem;
		}
		.left,
		.right {
			display: flex;
			align-items: center;
			div {
				max-width: 40px;
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
		}
		span {
			margin: 0 10px;
		}
	}
}
