@import '/src/assets/styles/styles.scss';

#select-product-staycations {
	padding-bottom: 62px;
	border-bottom: 1px solid $ultralight-gray;
	.tittle {
		display: flex;
		margin-top: 42px;
		margin-bottom: 24px;
	}
}
