.d-flex {
	display: flex;
}

.flex-direction-column {
	flex-direction: row;
}
.flex-direction-column {
	flex-direction: column;
}
.space-betwen {
	justify-content: space-between;
}

.jc-center {
	justify-content: center;
}

.jc-space-betwen {
	justify-content: space-between;
}

.jc-space-around {
	justify-content: space-around;
}

.jc-flex-start {
	justify-content: flex-start;
}

.jc-flex-end {
	justify-content: flex-end;
}

.ai-center {
	align-items: center;
}

.ai-space-betwen {
	align-items: space-between;
}

.ai-space-around {
	align-items: space-around;
}

.ai-flex-start {
	align-items: flex-start;
}

.ai-flex-end {
	align-items: flex-end;
}

.gap-xs {
	gap: 0.5rem;
}
.gap-s {
	gap: 0.75rem;
}
.gap-m {
	gap: 1rem;
}
.gap-l {
	gap: 1.5rem;
}
.gap-xl {
	gap: 2rem;
}
