.primary-shadow-xs {
	box-shadow: $primary-shadow-xsmall;
}
.primary-shadow-s {
	box-shadow: $primary-shadow-small;
}
.primary-shadow-l {
	box-shadow: $primary-shadow-large;
}
.primary-shadow-xl {
	box-shadow: $primary-shadow-xlarge;
}

.secondary-shadow-xs {
	box-shadow: $secondary-shadow-xsmall;
}
.secondary-shadow-s {
	box-shadow: $secondary-shadow-small;
}
.secondary-shadow-l {
	box-shadow: $secondary-shadow-large;
}
.secondary-shadow-xl {
	box-shadow: $secondary-shadow-xlarge;
}

.gray-shadow-xs {
	box-shadow: $gray-shadow-xsmall;
}
.gray-shadow-s {
	box-shadow: $gray-shadow-small;
}
.gray-shadow-l {
	box-shadow: $gray-shadow-large;
}
.gray-shadow-xl {
	box-shadow: $gray-shadow-xlarge;
}

.light-gray-shadow-xs {
	box-shadow: $light-gray-shadow-xsmall;
}
.light-gray-shadow-s {
	box-shadow: $light-gray-shadow-small;
}
.light-gray-shadow-l {
	box-shadow: $light-gray-shadow-large;
}
.light-gray-shadow-xl {
	box-shadow: $light-gray-shadow-xlarge;
}

.ultralight-gray-shadow-xs {
	box-shadow: $ultralight-gray-shadow-xsmall;
}
.ultralight-gray-shadow-s {
	box-shadow: $ultralight-gray-shadow-small;
}
.ultralight-gray-shadow-l {
	box-shadow: $ultralight-gray-shadow-large;
}
.ultralight-gray-shadow-xl {
	box-shadow: $ultralight-gray-shadow-xlarge;
}
