.input {
	color: var(--gray);
	label {
		display: flex;
		margin-bottom: 10px;
		color: var(--gray);
	}
	.input-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		&.variant-money {
			.tag {
				position: absolute;
				left: 20px;
				display: flex;
				align-items: center;
				height: 100%;
				&::after {
					content: '';
					position: absolute;
					display: flex;
					align-items: center;
					border-right: 1px solid var(--light-gray);
					height: 50%;
					left: 25px;
				}
			}
			input {
				padding-left: 60px;
			}
		}

		input {
			background-color: transparent;
			padding: 5px 20px;
			position: relative;
			width: 100%;
			height: 100%;
			&.cursor-pointer {
				cursor: pointer;
			}
			&.border {
				border: 1px solid var(--ultralight-gray);
			}
			&.variant-money {
				padding: 0 20px 0 40px;
			}
		}
	}
}

input:focus {
	outline-color: var(--gray);
	color: var(--gray);
}
