@import '/src/assets/styles/styles.scss';

.line-small {
	border-bottom: 1px solid $ultralight-gray;
}

.line-medium {
	border-bottom: 2px solid $ultralight-gray;
}

.line-large {
	border-bottom: 3px solid $ultralight-gray;
}
