.line-small {
	border-bottom: 1px solid var(--ultralight-gray);
}

.line-medium {
	border-bottom: 2px solid var(--ultralight-gray);
}

.line-large {
	border-bottom: 3px solid var(--ultralight-gray);
}
