@import '/src/assets/styles/styles.scss';

#reviewer {
	display: grid;
	grid-template-columns: 419px 419px;
	column-gap: 193px;
	row-gap: 42px;
	.item {
		.profile {
			display: flex;
			align-items: center;
			margin-bottom: 16px;
			img {
				margin-right: 18px;
				width: 68px;
				height: 68px;
				border: none;
				border-radius: 100px;
				background-color: $ultralight-gray;
			}
			.details {
				display: flex;
				flex-direction: column;
				label {
					font-weight: 600;
				}
				span {
					font-weight: 300;
				}
			}
		}
	}
}
