@import "/src/assets/styles/variables";

.chart-bar {
  display: block;
  border-radius: 6px;
  min-height: 260px;

  .chart {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    div {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      span {
        font-size: 12px;
        color: $light-gray;
        &.value {
          margin-bottom: 5px;
        }
        &.month {
          margin-top: 5px;
        }
      }
      label {
        display: flex;
        width: 6px;
        border-radius: 100px;
        background-color: $primary;
        animation: anm 2s ease-in-out forwards;
        @keyframes anm {
          0% {
            opacity: 0%;
            height: 0%;
          }
          50% {
            opacity: 100%;
          }
          100% {
            opacity: 100%;
          }
        }
      }
    }
  }
}
