@import "/src/assets/scss/bootstrap-utilities.scss";

.dashboard-items {
  .db-item-wrapper {
    border-radius: 14px;
    box-shadow: 0px 2px 40px rgb(211 211 211 / 70%);
  }

  .db-item-left {
    max-height: 300px;
  }
  .db-illustration {
    height: 200px;
  }
}

.dahsboard-charts {
  display: grid;
  min-height: 340px;
}

@include media-breakpoint-up(lg) {
  .dashboard-items {
    display: grid;
    grid-template-columns: 200px auto;
  }
  .dahsboard-charts {
    grid-template-columns: 3fr 1fr;
  }
}
