@import '/src/assets/styles/styles.scss';

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}

// background colors

.btn-primary {
	background-color: $primary;
}

.btn-secondary {
	background-color: $secondary;
}

.btn-gray {
	background-color: $gray;
}
.btn-light-gray {
	background-color: $light-gray;
}
.btn-ultralight-gray {
	background-color: $ultralight-gray;
}

.btn-white {
	background-color: $white;
}

// text colors

.btn-txt-primary {
	color: $primary;
}

.btn-txt-secondary {
	color: $secondary;
}

.btn-txt-gray {
	color: $gray;
}
.btn-txt-light-gray {
	color: $light-gray;
}
.btn-txt-ultralight-gray {
	color: $ultralight-gray;
}

.btn-txt-white {
	color: $white;
}

.btn-rounded {
	border-radius: 100px;
}

.btn-bordered {
	border: 1px solid $gray;
}

// underline

.btn-underline {
	text-decoration: underline;
}

// button toggle

.btn-active {
	opacity: 100%;
	transition: opacity 0.3s ease-in-out;
	visibility: visible;
}
.btn-hide {
	opacity: 0%;
	transition: visibility 0s linear .3s, opacity .3s;
	visibility: hidden;
}
