@import "/src/assets/styles/variables";

.btn {
  border-radius: 4px;
  height: fit-content;

  &.btn-contained {
    &.btn-primary {
      background-color: $primary;
      color: $white;
    }
    &.btn-secondary {
      background-color: $secondary;
      color: $white;
    }
    &.btn-lightgray {
      background-color: $light-gray;
      color: $white;
    }
  }

  &.btn-outline {
    &.btn-primary {
      border: 1px solid $primary;
      color: $primary;
    }
    &.btn-secondary {
      border: 1px solid $secondary;
      color: $primary;
    }
    &.btn-lightgray {
      border: 1px solid $light-gray;
      color: $primary;
    }
  }
}
