@import "/src/assets/styles/styles.scss";

.product-tittle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .tittle-wraper {
    .dot {
      display: block;
      align-self: center;
      border-radius: 100px;
      width: 6px;
      height: 6px;
      background-color: $gray;
    }

    .product-tittle-foot {
      font-size: 0.9rem;
      color: $gray;
      display: flex;
      label {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  .btn-save {
    div {
      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
        width: 24px;
      }
    }
  }
}
