@import '/src/assets/styles/styles.scss';

.btn-wrapper {
	display: inline-block;
	border-radius: 4px;
	font-weight: 300;

	.btn-items {
		display: flex;
		align-items: center;
		width: 100%;
		&.justify-content-center {
			justify-content: center;
		}
		&.justify-content-space-betwen {
			justify-content: space-between;
		}
	}

	&.btn-outline {
		background-color: transparent;
		border: 1px solid;
		&.btn-black {
			color: $primary;
			border-color: $primary;
		}
		&.btn-red {
			color: $secondary;
			border-color: $secondary;
		}
		&.btn-gray {
			color: $gray;
			border-color: $gray;
		}
		&.btn-light-gray {
			color: $light-gray;
			border-color: $gray;
		}
		&.btn-ultralight-gray {
			color: $ultralight-gray;
			border-color: $ultralight-gray;
		}
	}

	&.btn-contained {
		&.btn-black {
			color: $white;
			background-color: $primary;
			&.shadow-xs {
				box-shadow: $primary-shadow-xsmall;
			}
			&.shadow-s {
				box-shadow: $primary-shadow-small;
			}
			&.shadow-m {
				box-shadow: $primary-shadow-medium;
			}
			&.shadow-l {
				box-shadow: $primary-shadow-large;
			}
			&.shadow-xl {
				box-shadow: $primary-shadow-xlarge;
			}
		}
		&.btn-red {
			color: $white;
			background-color: $secondary;
			&.shadow-xs {
				box-shadow: $secondary-shadow-xsmall;
			}
			&.shadow-s {
				box-shadow: $secondary-shadow-small;
			}
			&.shadow-m {
				box-shadow: $secondary-shadow-medium;
			}
			&.shadow-l {
				box-shadow: $secondary-shadow-large;
			}
			&.shadow-xl {
				box-shadow: $secondary-shadow-xlarge;
			}
		}
		&.btn-gray {
			color: $white;
			background-color: $gray;
			&.shadow-s {
				box-shadow: $gray-shadow-xsmall;
			}
			&.shadow-s {
				box-shadow: $gray-shadow-small;
			}
			&.shadow-m {
				box-shadow: $gray-shadow-medium;
			}
			&.shadow-l {
				box-shadow: $gray-shadow-large;
			}
			&.shadow-xl {
				box-shadow: $gray-shadow-xlarge;
			}
		}
		&.btn-light-gray {
			color: $white;
			background-color: $light-gray;
			&.shadow-xs {
				box-shadow: $light-gray-shadow-xsmall;
			}
			&.shadow-s {
				box-shadow: $light-gray-shadow-small;
			}
			&.shadow-m {
				box-shadow: $light-gray-shadow-medium;
			}
			&.shadow-l {
				box-shadow: $light-gray-shadow-large;
			}
			&.shadow-xl {
				box-shadow: $light-gray-shadow-xlarge;
			}
		}
		&.btn-ultralight-gray {
			color: $white;
			background-color: $ultralight-gray;
			&.shadow-xs {
				box-shadow: $ultralight-gray-shadow-xsmall;
			}
			&.shadow-s {
				box-shadow: $ultralight-gray-shadow-small;
			}
			&.shadow-m {
				box-shadow: $ultralight-gray-shadow-medium;
			}
			&.shadow-l {
				box-shadow: $ultralight-gray-shadow-large;
			}
			&.shadow-xl {
				box-shadow: $ultralight-gray-shadow-xlarge;
			}
		}
	}

	.right-icon {
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;
	}
	.left-icon {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
	}

	&.btn-xsmall {
		font-size: 10px;
		padding: .25rem .75rem;
		.left-icon {
			margin-right: 2px;
		}
		.right-icon {
			margin-left: 2px;
		}
	}
	&.btn-small {
		font-size: 0.75rem;
		padding: .25rem .75rem;
		.left-icon {
			margin-right: 4px;
		}
		.right-icon {
			margin-left: 4px;
		}
		&.btn-text {
			padding: 0;
		}
	}
	&.btn-medium {
		font-size: 1rem;
		padding: .5rem 0.75rem;
		.left-icon {
			margin-right: 8px;
		}
		.right-icon {
			margin-left: 8px;
		}
		&.btn-text {
			padding: 0;
		}
	}
	&.btn-large {
		font-size: 1rem;
		padding: .75rem 1rem;
		.left-icon {
			margin-right: 10px;
		}
		.right-icon {
			margin-left: 10px;
		}
		&.btn-text {
			padding: 0;
		}
	}

	&:disabled {
		opacity: .1;
		cursor: not-allowed;
	}

	&:active {
		filter: contrast(.9);
	}
}
