#hero {
	display: flex;
	justify-content: center;
	position: relative;
	margin: (160px + 30px) 120px 42px 120px;

	img {
		height: 360px;
		width: 100%;
		height: 100%;
		border-radius: 14px;
		border: none;
		object-fit: cover;
	}
}
