@import "/src/assets/styles/variables";
@import "/src/assets/scss/mixins/breakpoints";

.amenities {
  margin-top: 42px;
  font-size: 24px;
  color: $primary;
  padding-bottom: 62px;
  border-bottom: 1px solid $ultralight-gray;
  width: 100%;

  .items-language {
    display: flex;
    div {
      border: 1px solid $ultralight-gray;
      padding: 5px 10px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      margin-right: 20px;
      background-color: rgba(128, 128, 128, 0.1);
      img {
        margin-right: 8px;
        width: 32px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #travel-amenities {
    .travel-amenities-items {
      .items {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 40px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #travel-amenities {
    .travel-amenities-items {
      .items {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 40px;
      }
    }
  }
}
