@import "/src/assets/styles/variables";

.product-pictures {
  position: relative;
  height: 310px;

  img {
    object-fit: cover;
  }

  .pp-left {
    background-color: gray;
    height: 100%;
  }

  .pp-right {
    background-color: gray;
  }

  .btn-see-all-photos {
    position: absolute;
    border: 1px solid $ultralight-gray;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    right: 20px;
    bottom: 20px;
  }
}
