@import '/src/assets/styles/styles.scss';

h1 {
	font-size: 28px;
	line-height: 42px;
}
h2 {
	font-size: 20px;
	line-height: 30px;
}
h3 {
	font-size: 16px;
	line-height: 24px;
}
h4 {
	font-size: 14px;
	line-height: 22px;
}

p.typography {
	margin: 0;
	&.text-large {
		font-size: 18px;
		line-height: 28px;
	}
	&.text-medium {
		font-size: 16px;
		line-height: 24px;
	}
	&.text-small {
		font-size: 14px;
		line-height: 22px;
	}
	&.text-xsmall {
		font-size: 12px;
		line-height: 18px;
	}
	&.text-xxsmall {
		font-size: 10px;
		line-height: 15px;
	}
	&.text-dec-underline {
		text-decoration: underline;
	}
	&.text-dec-line-through {
		text-decoration: line-through;
	}
	&.text-line-height-100 {
		line-height: 100%;
	}
	&.text-black {
		color: $primary;
	}
	&.text-red {
		color: var(--error);
	}
	&.text-gray {
		color: $gray;
	}
	&.text-light-gray {
		color: $light-gray;
	}
	&.text-ultralight-gray {
		color: $ultralight-gray;
	}
}
