.side-bar-list {
	.sb-list-head {
		font-size: 1rem;
		color: var(--light-gray);
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 400;

		.sb-list-label {
			display: flex;
			align-items: center;
			img {
				margin-right: 1rem;
			}
		}
	}
	.sb-list-icon-arrow {
		transition: transform .3s ease-in-out;
		&.active {
			transform: rotate(180deg);
			transition: transform .3s ease-in-out;
		}
	}
	.sb-list-items {
		margin-top: .5rem;
		display: flex;
		flex-direction: column;
		max-height: 0px;
		opacity: 0%;
		overflow: hidden;
		transition: all .3s .3s ease-in-out;
		&.active {
			max-height: 2000px;
			opacity: 100%;
			transition: all .3s .3s ease-in-out;
			overflow-y: auto;
		}
		a {
			font-weight: 400;
			color: var(--light-gray);
			display: flex;
			padding: .25rem 2.25rem;
			margin-bottom: .5rem;
			border-radius: 100px;
			font-size: 0.9rem;
			&.active {
				font-weight: 500;
				color: var(--gray);
			}
			.name {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			&:hover {
				background-color: #fafafa;
			}
		}
	}
}
