.btn-rounded {
  display: flex;
  align-items: center;
  justify-content: center;

  &.btn-rounded-small {
    width: 0.75rem;
    height: 0.75rem;
    .btn-rounded-icon {
      width: 0.5rem;
    }
  }
  &.btn-rounded-medium {
    width: 1.75rem;
    height: 1.75rem;
    .btn-rounded-icon {
      width: 0.75rem;
    }
  }
}
