.stay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.st-items {
		display: flex;
		align-items: center;
	}
	.stay-img {
		width: 10rem;
		height: 10rem;
		margin-right: 1rem;
		background-color: gray;
		border-radius: 6px;
	}

	.st-tittle {
		display: block;
	}
	.st-location {
		margin-bottom: 1rem;
	}
	.st-budget {
		display: block;
	}
	.st-foot {
		display: flex;
		font-size: .9rem;
	}
}
