@import "/src/assets/styles/variables";

.header-bottom {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: $white;

  &.active {
    height: 80px;
  }

  form {
    background-color: #f4f4f4;
    display: flex;
    border-radius: 100px;
    display: flex;
    height: 60px;

    .item {
      border-radius: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1.5rem;
      span {
        font-size: 0.75rem;
        font-weight: 600;
        white-space: nowrap;
      }
      input {
        border: none;
        padding: 0;
        width: 100%;
        background-color: transparent;
        &:focus {
          outline: none;
        }
        &:read-only {
          cursor: pointer;
        }
      }
      &.active {
        background-color: $white;
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        &.item {
          &:not(.active) {
            &:hover {
              background-color: $ultralight-gray;
            }
          }
          &.active {
            box-shadow: $shadow-m $shadow-ultralight-gray;
          }
        }
      }

      &:nth-child(2) {
        position: relative;
      }
      .line-left,
      .line-right {
        height: 50%;
        width: 2px;
        background-color: $ultralight-gray;
        position: absolute;
        &.hide {
          visibility: hidden;
        }
      }
      .line-left {
        left: -1px;
      }
      .line-right {
        right: -1px;
      }

      &:nth-child(3) {
        flex-direction: row;
        padding-right: 0;
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          height: 100%;
        }
      }
    }

    button[type="submit"] {
      background-color: $gray;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      margin: auto 0;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}
