@import "/src/assets/styles/variables";

.product-card {
  .pictures {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    .picture {
      width: inherit;
      aspect-ratio: 1/1;
      img {
        width: inherit;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
  }

  .card-dots {
    margin-bottom: 22px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: absolute;
    bottom: 0;
    .dot {
      width: 6px;
      height: 6px;
      border-radius: 100px;
      opacity: 70%;
      &.active {
        opacity: 100%;
      }
    }
  }
}
