#header-dashboard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 42px;
	.left {
		display: flex;
		flex-direction: column;
		label {
			font-size: 24px;
			color: var(--gray);
			font-weight: 400;
		}
		span {
			font-size: 14px;
			color: var(--light-gray);
			font-weight: 300;
		}
	}
	.right {
		display: flex;
		align-items: center;
		span {
			color: var(--white);
			font-size: 14px;
		}
		.btn {
			margin-left: 20px;
			background-color: var(--red);
			box-shadow: 0px 2px 10px rgb(239 54 54 / 50%);
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 15px;
			border-radius: 6px;
			img {
				width: 24px;
				height: 24px;
				margin-right: 10px;
				background-color: rgba(255, 255, 255, 0.3);
				border-radius: 100px;
				padding: 4px 4px;
			}
		}
	}
}
