@import '/src/assets/styles/styles.scss';

.dashboard-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.dh-left {
		display: flex;
		flex-direction: column;
		.dh-label {
			font-size: 1.5rem;
			color: $gray;
		}
		.dh-name {
			font-size: 0.9rem;
			color: $ultralight-gray;
			max-width: 240px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
