@import "/src/assets/styles/variables";

.date-range-picker {
  display: inline-block;
  opacity: 100%;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  visibility: visible;
  background-color: $white;
  z-index: 1;
  width: 100%;

  &[hidden] {
    display: inline-block !important;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0%;
    transform: translateY(-10px);
  }

  .rdrSelected {
    background-color: transparent;
  }

  .rdrNextPrevButton {
    background-color: transparent;
    margin: 0;
  }

  .rdrCalendarWrapper {
    font-size: 0.9rem;
    width: 100%;
    padding: 0;
    .rdrMonth {
      width: 100%;
      padding: 0;
    }
  }

  .rdrDayToday {
    .rdrDayNumber {
      span {
        font-weight: 800;
        &::after {
          content: "";
          display: none;
        }

        &.dp-dot {
          position: relative;
          width: 100%;
          &::after {
            content: "";
            position: absolute;
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 100px;
            right: 8px !important;
            top: 8px;
            left: unset;
            background-color: $secondary;
            transform: none;
            z-index: 3;
          }
        }
      }
    }
  }

  .rdrDateDisplayWrapper {
    display: none;
  }

  .dp-dot {
    position: relative;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 100px;
      right: 8px;
      top: 8px;
      background-color: $secondary;
      z-index: 3;
    }
  }
}
