.h {
	&.primary {
		color: var(--black);
	}
	&.secondary {
		color: var(--red);
	}
	&.gray {
		color: var(--gray);
	}
	&.light-gray {
		color: var(--light-gray);
	}
	&.ultralight-gray {
		color: var(--ultralight-gray);
	}

	&.regular {
		font-weight: normal;
	}

	&.bold {
		font-weight: bold;
	}

	&.h100 {
		font-weight: 100;
	}
	&.h200 {
		font-weight: 200;
	}
	&.h300 {
		font-weight: 300;
	}
	&.h400 {
		font-weight: 400;
	}
	&.h500 {
		font-weight: 500;
	}
	&.h600 {
		font-weight: 600;
	}
	&.h700 {
		font-weight: 700;
	}
	&.h800 {
		font-weight: 800;
	}
}
