#product-grid {
	display: grid;
	gap: var(--gap-breakpoint);
}

/* Extra small devices (phones, 400px and up) */
@media only screen and (min-width: 400px) {
	#product-grid {
		margin: 0px 20px;
		grid-template-columns: 1fr;
		--gap-breakpoint: 42px 24px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#product-grid {
		margin: 0px 40px;
		grid-template-columns: 1fr 1fr;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#product-grid {
		margin: 0px 60px;
		grid-template-columns: 1fr 1fr 1fr;
		--gap-breakpoint: 42px 22px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#product-grid {
		margin: 0px 120px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		--gap-breakpoint: 40px 22px;
	}
}
