@import '/src/assets/styles/styles.scss';

#select-product-reviews {
	padding-top: 42px;
	padding-bottom: 62px;
	border-top: 1px solid $ultralight-gray;
	border-bottom: 1px solid $ultralight-gray;
	margin: 0 120px;
	margin-bottom: 42px;
	.tittle {
		display: flex;
		.h {
			margin-right: 20px;
		}
	}
}
