.loading-wrapper {
	display: inline-flex;
	align-items: center;
	.loading-items {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		&.loading-small {
			width: 20px;
			div {
				width: 4px;
				height: 4px;
			}
		}
		&.loading-medium {
			width: 30px;
			div {
				width: 6px;
				height: 6px;
			}
		}

		&.loading-large {
			width: 40px;
			div {
				width: 8px;
				height: 8px;
			}
		}

		&.loading-xlarge {
			width: 50px;
			div {
				width: 10px;
				height: 10px;
			}
		}

		div {
			border-radius: 100%;
			div {
				width: 5px;
				height: 5px;
			}
		}
		&.loading-primary {
			div {
				animation-name: anm-primary;
			}
		}
		&.loading-secondary {
			div {
				animation-name: anm-secondary;
			}
		}
		&.loading-gray {
			div {
				animation-name: anm-gray;
			}
		}
		&.loading-white {
			div {
				animation-name: anm-white;
			}
		}
		.left {
			animation: anm 1s 1s infinite alternate;
		}
		.mid {
			animation: anm 1s 0s infinite alternate;
		}
		.right {
			animation: anm 1s .5s infinite alternate;
		}
	}

	.loading-primary {
		@keyframes anm {
			0% {
				background-color: var(--black);
			}
			50%,
			100% {
				background-color: var(--ultralight-gray);
			}
		}
	}
	@keyframes anm-primary {
		0% {
			background-color: var(--black);
		}
		50%,
		100% {
			background-color: var(--ultralight-gray);
		}
	}
	@keyframes anm-secondary {
		0% {
			background-color: var(--red);
		}
		50%,
		100% {
			background-color: var(--ultralight-gray);
		}
	}
	@keyframes anm-gray {
		0% {
			background-color: var(--gray);
		}
		50%,
		100% {
			background-color: var(--ultralight-gray);
		}
	}
	@keyframes anm-white {
		0% {
			background-color: var(--white);
		}
		50%,
		100% {
			background-color: rgba(211, 211, 211, 0.2);
		}
	}
}
