@import "/src/assets/styles/styles.scss";

.header-categories {
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 80px;
  height: 80px;

  .wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    .btn-arrow {
      position: absolute;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }

  .categories-items {
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    z-index: -1;
    height: 100%;
    align-items: center;

    &::-webkit-scrollbar {
      height: 0px;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 100%;
      cursor: pointer;
      font-size: 0.75rem;
      img {
        height: 22px;
        width: 22px;
        margin-bottom: 6px;
      }
      &:hover {
        &::after {
          content: "";
          width: 100%;
          position: absolute;
          bottom: 0;
          height: 0.2rem;
          border-radius: 100px;
          background-color: $gray;
        }
      }
    }
  }
}
