@import "/src/assets/styles/styles.scss";

.input-control {
  display: block;
  width: 100%;

  small {
    margin-top: 0.25rem;
    display: block;
    color: $error;
    font-size: 0.75rem;
  }
  .wrapper {
    border: 1px solid $ultralight-gray;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    &.border {
      &.invalid {
        border-color: $error !important;
      }
      &.valid {
        border-color: $ultralight-gray !important;
      }
      &.focus {
        border-color: transparent !important;
        outline: 2px solid $gray;
      }
    }
  }

  input {
    display: block;
    width: 100%;
    border: none;
    &:focus {
      outline: none;
    }
  }

  .icon-dollar {
    padding-right: inherit;
    position: relative;
    display: inline-flex;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      display: inline-block;
      border-right: 1px solid $light-gray;
      height: 80%;
    }
    * {
      height: 1rem;
    }
  }
}
