#tour-guide-tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--ultralight-gray);
    padding-bottom: 24px;
    width: 100%;
}

#tour-guide-tittle img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: var(--ultralight-gray);
}

#tour-guide-tittle .tittle{
    font-size: 20px;
    color: var(--black);
    font-weight: 500;
}

#tour-guide-tittle .sub-tittle{
    font-size: 12px;
    display: flex;
    align-items: center;
    color: var(--gray);
}

#tour-guide-tittle .sub-tittle label{
    margin-right: 10px;
}

#tour-guide-tittle .sub-tittle span{
    display: block;
    border-radius: 100px;
    margin-right: 10px;
    width: 4px;
    height: 4px;
    background-color: var(--gray);
}