@import "/src/assets/styles/variables";

.mobile-slider {
  display: flex;
  justify-content: center;
  .ms-items {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-radius: 12px;

    &::-webkit-scrollbar {
      height: 0px;
    }

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  .ms-dots {
    display: flex;
    gap: 0.5rem;
    text-align: center;

    .ms-dot {
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 100px;
      background-color: $white;
      opacity: 0.7;
      &.active {
        opacity: 1;
      }
    }
  }
}
