@import "/src/assets/scss/bootstrap-utilities.scss";

.dashboard {
  display: flex;
  flex-direction: column-reverse;

  .sidebar {
    position: sticky !important;
  }
}

@include media-breakpoint-up(md) {
  .dashboard {
    display: grid;
    grid-template-columns: 80px 1fr;
    .sidebar {
      position: static !important;
    }
  }
}
