#search-date {
	width: 0px;
	height: 0px;
	position: absolute;
	background-color: var(--white);
	top: 95px;
	padding: 0px 40px;
	display: flex;
	justify-content: center;
	border-radius: 14px;
	opacity: 0%;
	z-index: 5;
	overflow: hidden;
	flex-direction: column;
	&.active {
		padding: 24px 42px;
		width: 100%;
		height: auto;
		opacity: 100%;
		transition: opacity 0.3s ease-in-out, height .2s ease-in-out;
	}

	.date-choosed {
		display: flex;
		justify-content: center;
	}

	.day-extra-dash {
		height: 1px;
		width: 12px;
		background-color: var(--light-gray);
		position: absolute;
		top: 12px;
		left: 16px;
	}

	.rdrDateDisplayWrapper {
		display: none;
	}
}
