.ap-image-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  overflow: hidden;
  .ap-image-wrapper {
    display: inline-flex;
    position: relative;
    .ap-image {
      width: 100%;
      border-radius: 6px;
      overflow: hidden;
    }
    .btn-close-ap-image {
      position: absolute;
      right: 0;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
.ap-stays {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
