.icon {
	&.clickable {
		&:hover {
			cursor: pointer;
		}
	}
	&.icon-small {
		height: 0.75rem;
	}

	&.icon-medium {
		height: 1rem;
	}

	&.icon-large {
		height: 1.5rem;
	}

	&.icon-xlarge {
		height: 2rem;
	}
}
