* {
	box-sizing: border-box;
	--black: #212121;
	--red: #ef3636;
	--gray: #373737;
	--light-gray: #909090;
	--ultralight-gray: #d3d3d3;
	--white: #fefefe;
}

h1 {
	margin: 0px;
}

h2 {
	margin: 0px;
}

h3 {
	margin: 0px;
}

h4 {
	margin: 0px;
}

a {
	text-decoration: none;
}
figure {
	margin: 0px;
}

button {
	font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
