@import '/src/assets/styles/styles.scss';

.dashboard-avatar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	max-width: 300px;
	.left {
		display: flex;
		align-items: center;
		flex-direction: row;
		.info {
			display: inline-flex;
			flex-direction: column;
			margin-left: 1rem;
			.da-name {
				color: $gray;
				font-size: 1rem;
				font-weight: 500;
				max-width: 120px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.da-tittle {
				color: $light-gray;
				font-size: .75rem;
			}
		}
	}
}
