$primary-shadow-xsmall: 0px 2px 2px rgba(33, 33, 33, 0.5);
$primary-shadow-small: 0px 2px 4px rgba(33, 33, 33, 0.5);
$primary-shadow-medium: 0px 2px 10px rgba(33, 33, 33, 0.5);
$primary-shadow-large: 0px 2px 20px rgba(33, 33, 33, 0.5);
$primary-shadow-xlarge: 0px 2px 40px rgba(33, 33, 33, 0.5);

$secondary-shadow-xsmall: 0px 2px 2px rgba(239, 54, 54, 0.5);
$secondary-shadow-small: 0px 2px 4px rgba(239, 54, 54, 0.5);
$secondary-shadow-medium: 0px 2px 10px rgba(239, 54, 54, 0.5);
$secondary-shadow-large: 0px 2px 20px rgba(239, 54, 54, 0.5);
$secondary-shadow-xlarge: 0px 2px 40px rgba(239, 54, 54, 0.5);

$gray-shadow-xsmall: 0px 2px 2px rgba(55, 55, 55, 0.5);
$gray-shadow-small: 0px 2px 4px rgba(55, 55, 55, 0.5);
$gray-shadow-medium: 0px 2px 10px rgba(55, 55, 55, 0.5);
$gray-shadow-large: 0px 2px 20px rgba(55, 55, 55, 0.5);
$gray-shadow-xlarge: 0px 2px 40px rgba(55, 55, 55, 0.5);

$light-gray-shadow-xsmall: 0px 2px 2px rgba(144, 144, 144, 0.5);
$light-gray-shadow-small: 0px 2px 4px rgba(144, 144, 144, 0.5);
$light-gray-shadow-medium: 0px 2px 10px rgba(144, 144, 144, 0.5);
$light-gray-shadow-large: 0px 2px 20px rgba(144, 144, 144, 0.5);
$light-gray-shadow-xlarge: 0px 2px 40px rgba(144, 144, 144, 0.5);

$ultralight-gray-shadow-xsmall: 0px 2px 2px rgba(211, 211, 211, 0.5);
$ultralight-gray-shadow-small: 0px 2px 4px rgba(211, 211, 211, 0.5);
$ultralight-gray-shadow-medium: 0px 2px 10px rgba(211, 211, 211, 0.5);
$ultralight-gray-shadow-large: 0px 2px 20px rgba(211, 211, 211, 0.5);
$ultralight-gray-shadow-xlarge: 0px 2px 40px rgba(211, 211, 211, 0.5);

.primary-shadow-xs {
	box-shadow: $primary-shadow-xsmall;
}
.primary-shadow-s {
	box-shadow: $primary-shadow-small;
}
.primary-shadow-l {
	box-shadow: $primary-shadow-large;
}
.primary-shadow-xl {
	box-shadow: $primary-shadow-xlarge;
}

.secondary-shadow-xs {
	box-shadow: $secondary-shadow-xsmall;
}
.secondary-shadow-s {
	box-shadow: $secondary-shadow-small;
}
.secondary-shadow-l {
	box-shadow: $secondary-shadow-large;
}
.secondary-shadow-xl {
	box-shadow: $secondary-shadow-xlarge;
}

.gray-shadow-xs {
	box-shadow: $gray-shadow-xsmall;
}
.gray-shadow-s {
	box-shadow: $gray-shadow-small;
}
.gray-shadow-l {
	box-shadow: $gray-shadow-large;
}
.gray-shadow-xl {
	box-shadow: $gray-shadow-xlarge;
}

.light-gray-shadow-xs {
	box-shadow: $light-gray-shadow-xsmall;
}
.light-gray-shadow-s {
	box-shadow: $light-gray-shadow-small;
}
.light-gray-shadow-l {
	box-shadow: $light-gray-shadow-large;
}
.light-gray-shadow-xl {
	box-shadow: $light-gray-shadow-xlarge;
}

.ultralight-gray-shadow-xs {
	box-shadow: $ultralight-gray-shadow-xsmall;
}
.ultralight-gray-shadow-s {
	box-shadow: $ultralight-gray-shadow-small;
}
.ultralight-gray-shadow-l {
	box-shadow: $ultralight-gray-shadow-large;
}
.ultralight-gray-shadow-xl {
	box-shadow: $ultralight-gray-shadow-xlarge;
}
