@import "/src/assets/styles/variables";
@import "/src/assets/scss/bootstrap-utilities.scss";

.sidebar {
  background-color: $white;
  z-index: 1;
  width: 100%;
  .sb-ic-item {
    opacity: 0.7;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    &:hover {
      &:not(.active) {
        opacity: 1;
        transform: scale(0.9);
      }
    }

    &.active {
      opacity: 1;
      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 100px;
        bottom: -12px;
        background-color: $primary;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    .sb-ic-item {
      &.active {
        &::before {
          right: -5px;
          bottom: 9px;
        }
      }
    }
  }
}
