#side-bar {
	padding: 24px 0;
	border-right: 1px solid var(--ultralight-gray);
	position: relative;
	height: 100vh;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 0px;
	}
	.btn-home-page {
		margin: 0 30px;
		margin-bottom: 20px;
		border-radius: 6px;
		font-weight: 400;
		font-size: 14px;
		display: flex;
		padding: 5px 0;
		display: flex;
		justify-content: space-between;
	}
	.profile {
		display: flex;
		align-items: center;
		padding: 0px 30px;
		img {
			width: 40px;
			height: 40px;
			background-color: var(--ultralight-gray);
			border-radius: 100px;
			margin-right: 15px;
		}

		.tittle {
			display: flex;
			flex-direction: column;
			label {
				font-size: 14px;
				font-weight: 600;
				color: var(--gray);
			}
			span {
				font-size: 10px;
			}
		}
	}
	.wallet-info {
		display: grid;
		grid-template-rows: 1fr auto;
		background-color: var(--white);
		box-shadow: -5px 10px 30px rgb(33, 33, 33, 0.1);
		border-radius: 15px;
		margin-top: 24px;
		margin-left: 65px;
		margin-right: 65px;
		padding: 20px 15px;
		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			label {
				font-size: 10px;
				margin-bottom: 2px;
				color: var(--light-gray);
				font-weight: 500;
			}
			span {
				font-size: 24px;
				font-weight: 400;
				color: var(--black);
			}
		}
		.btn-witdraw {
			background-color: var(--black);
			border-radius: 6px;
			height: 30px;
			padding: 0 10px;
			margin-top: 16px;
			div {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: row;
				span {
					color: var(--white);
					font-size: 14px;
					font-weight: 300;
				}
				img {
					background-color: var(--white);
					width: 18px;
					height: 18px;
					padding: 3px;
					padding: 3px;
					border-radius: 100px;
					background-color: rgba(255, 255, 255, 0.3);
				}
			}
		}
	}

	.travel-active {
		margin-top: 24px;
		padding: 0px 30px;
		.tittle {
			font-size: 14px;
			font-weight: 600;
			color: var(--black);
		}
		.details {
			margin-top: 10px;
			display: flex;
			align-items: center;

			.dot {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 100px;
				width: 30px;
				height: 30px;
				background-color: rgb(239, 54, 54, 0.08);
				margin-right: 15px;
				&::after {
					content: '';
					background-color: var(--red);
					box-shadow: 0px 2px 6px var(--red);
					width: 10px;
					height: 10px;
					border-radius: 100px;
				}
			}
			.sub-tittle {
				display: flex;
				flex-direction: column;
				label {
					color: var(--gray);
					margin-bottom: 2px;
					font-size: 14px;
				}
				span {
					color: var(--light-gray);
					font-size: 12px;
				}
			}
		}
	}
	.packages {
		margin-top: 24px;
		.tittle {
			font-size: 14px;
			font-weight: 600;
			color: var(--black);
			display: flex;
			justify-content: space-between;
			padding: 0 30px;
			button {
				display: flex;
				align-items: center;
				transition: transform .3s ease-in-out;
				&.active {
					transition: transform .3s ease-in-out;
					transform: rotate(90deg);
				}
				img {
					width: 12px;
					height: 12px;
				}
			}
		}

		.items {
			margin-top: 10px;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-in;
			padding: 0px 30px;
			display: flex;
			flex-direction: column;
			&.active {
				max-height: 100vh;
				transition: max-height 0.3s ease-in;
			}
			a {
				margin-bottom: 10px;
				position: relative;
				font-size: 14px;
				&.active {
					&::after {
						content: '';
						transition: height .3s ease-in-out;
						position: absolute;
						top: -1px;
						left: -30px;
						width: 6px;
						height: 100%;
						border-radius: 0px 2px 2px 0px;
						background-color: var(--black);
					}
				}
			}
		}
	}
	.ordered {
		.tittle {
			font-size: 14px;
			font-weight: 600;
			color: var(--black);
			display: flex;
			justify-content: space-between;
			padding: 0 30px;
			button {
				display: flex;
				align-items: center;
				transition: transform .3s ease-in-out;
				&.active {
					transition: transform .3s ease-in-out;
					transform: rotate(90deg);
				}
				img {
					width: 12px;
					height: 12px;
				}
			}
		}

		.items {
			padding: 0 30px;
			margin-top: 10px;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-in;
			&.active {
				max-height: 100vh;
				transition: max-height 0.3s ease-in;
			}
			.item-tittle {
				overflow-x: hidden;
			}
			a {
				margin-bottom: 10px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				font-size: 14px;
				.date {
					padding: 0px 10px;
					border-radius: 100px;
					border: 1px solid var(--ultralight-gray);
				}
				&.active {
					&::after {
						content: '';
						transition: height .3s ease-in-out;
						position: absolute;
						top: -1px;
						left: -30px;
						width: 6px;
						height: 100%;
						border-radius: 0px 2px 2px 0px;
						background-color: var(--black);
					}
				}
			}
		}
	}
	.messages {
		.tittle {
			font-size: 14px;
			font-weight: 600;
			color: var(--black);
			display: flex;
			padding: 0 30px;
			justify-content: space-between;
			button {
				display: flex;
				align-items: center;
				transition: transform .3s ease-in-out;
				&.active {
					transition: transform .3s ease-in-out;
					transform: rotate(90deg);
				}
				img {
					width: 12px;
					height: 12px;
				}
			}
		}

		.items {
			padding: 0 30px;
			margin-top: 10px;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-in;
			&.active {
				max-height: 100vh;
				transition: max-height 0.3s ease-in;
			}
			a {
				margin-bottom: 10px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				font-size: 14px;
				div {
					display: flex;
					align-items: center;
					img {
						margin-right: 15px;
						width: 28px;
						height: 28px;
						background-color: var(--ultralight-gray);
						border-radius: 100px;
					}
				}
				.count {
					padding: 0px 6px;
					border-radius: 100px;
					border: 1px solid var(--ultralight-gray);
				}
				&.active {
					&::after {
						content: '';
						position: absolute;
						left: -30px;
						width: 6px;
						height: 100%;
						border-radius: 0px 2px 2px 0px;
						background-color: var(--black);
					}
				}
			}
		}
	}
}
