@import '/src/assets/styles/styles.scss';

.input-text {
	input[type=text] {
		background-color: transparent;
		width: 100%;
		height: 100%;
		border: none;
		padding: 0;
	}

	input[type=text]:focus {
		outline-color: transparent;
	}

	.it-label {
		margin-bottom: .5rem;
		display: block;
		small {
			font-size: .75rem;
			color: $error;
		}
	}
	.it-wrapper {
		display: flex;
		align-items: center;
		border: 1px solid $ultralight-gray;
		border-radius: 4px;
		&.focus {
			outline: 2px solid $gray;
			border-color: $white !important;
		}
		&.invalid {
			border: 1px solid $error;
		}
	}
	img {
		margin-left: .5rem;
	}
	&.it-small {
		* {
			font-size: 0.75rem;
		}

		.it-wrapper {
			padding: 5px 10px;
		}
	}

	&.it-medium {
		* {
			font-size: 1rem;
		}

		.it-wrapper {
			padding: 8px 10px;
		}
	}

	&.it-large {
		* {
			font-size: 1.5rem;
		}

		.it-wrapper {
			padding: 10px 15px;
		}
	}
}
