@import '/src/assets/styles/styles.scss';

span {
	&.container {
		line-height: 100%;
	}
}

.container {
	background-color: $white;
	&.y-scroll {
		overflow-y: auto;
	}
	&.x-scroll {
		overflow-x: auto;
	}

	&.c-bg-transparent {
		background-color: rgba(33, 33, 33, 0.5);
	}
	&.height-100vh {
		height: 100vh;
	}
	&.width-100vw {
		width: 100vw;
	}

	&.position-absolute {
		position: absolute;
		left: 0;
		top: 0;
	}

	&.c-bg-transparent {
		background-color: transparent;
	}
}
